.App {
  text-align: center;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.258);
  height: 15vh;
}

.PageLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 65%;
}

.ProfileLink {
  width: 100px;
  height: fit-content;
}

img {
  height: 100px;
}
