/* Home - quote calculator */
.myQuotes {
  background-color: rgb(247, 247, 247);
  /* margin-right: 5px; */
  margin-top: 15px;
  /* margin-bottom: 25px; */
  /* margin-bottom: 50px; */
  /* margin-bottom: 300px; */
  margin-bottom: 150px;

  /* padding: 25px 25px 0px 25px; */
  padding: 15px;

  /* max-width: 1139px;
  min-width: 497.25px; */

  /* float: left; */
  /* min-width: 590px; */

  /* width: 70%; here */
}
.quotesList {
  border-top: 2px solid black;
}
.quote {
  border-bottom: 2px solid black;
  padding: 15px;
}

.homeList {
  margin-left: 15px;
  /* margin-top: 15px; */
}




.reg
{
  /* height: 100px; */
  height: fit-content;
  background-color: rgb(245, 243, 243);
  padding: 20px 20px;
  border-radius: 25px;
  text-decoration: underline;

  width: 180px;
  display: flex;
  justify-content: center;
}

.intro
{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
}

.introPara
{
  width: 70%;
  /* width: 65%; */
  margin-right: 15px;
}