/* petitions */

.petitionsList {
  /* width: 73%; here */

  border-top: 2px solid black;
}
.petition {
  padding: 30px 15px;
  /* width: 69%; */

  /* border-top: 2px solid black; */
  border-bottom: 2px solid black;

  /* display: flex; */

  cursor: pointer;
}
.pTitle {
  display: flex;
  justify-content: space-between;
}
.pTitle > p {
  font-size: 14px;
}
.signatureCount {
  display: flex;
  justify-content: center;
}
.signatureBar {
  display: flex;
  justify-content: center;
}
.sBar {
  background-color: green;
  width: 57.6%;
  height: 16px;
}
.sBarGrey {
  background-color: darkgrey;
  width: 42.4%;
}
.sBar2 {
  background-color: green;
  width: 7.5%;
  height: 16px;
}
.sBarGrey2 {
  background-color: darkgrey;
  width: 92.5%;
}

/*---------------Petition Page Styling---------------------*/

/* .petitionList,  */
.petitionForm{
  text-align:justify;
  float:left;
  width:73%;
  line-height: 30px;
}

.petitionList h1{
  margin-bottom: 15px;
  
  }

.petitionList .petitionLink :hover{
  color:rgb(59, 89, 187);
}


.petitionInfo  {
  line-height: 30px;
  text-decoration: none;
  color: black;
}

.petitionInfo p {
  margin-bottom: 45px;
}

.petitionList p{
    margin-bottom: 30px;
}

/*---------------Petition Sign Form Page Styling---------------------*/

.petitionForm p{
  line-height: 30px;

  }
  
.petitionForm h1{
      line-height: 40px;
  }


.dataForm{
  max-width: 500px;
	padding: 20px 12px 10px 20px;
}

.dataForm label{
	display: block;
	margin: 0px 0px 15px 0px;
}

.dataForm label > span{
	width: 110px;
  font-size: 12pt;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.dataForm span.required{
	color:red;
}

.dataForm input.textarea {
    height:32px;
	width: 38%;
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px lightgrey;
	-moz-box-shadow: 1px 1px 4px lightgrey;
	-webkit-box-shadow: 1px 1px 4px lightgrey;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 20px;
	outline: none;
}


#checkbox{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 9pt;
}

#Submit{
    margin-top: 10px;
    border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#Submit:hover{
    background: #EA7B00;
	color: #fff
}