/* petitions */
.petitionsList {
  /* width: 73%; here */

  border-top: 2px solid black;
}
.petition {
  padding: 15px;
  /* width: 69%; */

  /* border-top: 2px solid black; */
  border-bottom: 2px solid black;

  /* display: flex; */

  cursor: pointer;
}
.pTitle {
  display: flex;
  justify-content: space-between;
}
.pTitle > p {
  font-size: 14px;
}
.signatureCount {
  display: flex;
  justify-content: center;
}
.signatureBar {
  display: flex;
  justify-content: center;
}
.sBar {
  background-color: green;
  width: 57.6%;
  height: 16px;
}
.sBarGrey {
  background-color: darkgrey;
  width: 42.4%;
}
.sBar2 {
  background-color: green;
  width: 7.5%;
  height: 16px;
}
.sBarGrey2 {
  background-color: darkgrey;
  width: 92.5%;
}
