/* quiz */
.quizButtonCont {
  /* float: center; */
  /* position: relative; */
  /* left: 30.75%; */
  /* left: 30%; */

  /* margin-left: 30%; here */

  margin-left: 37.5%;
}
#takeQuizButton {
  margin-top: none;
  /* margin-left: 717.5px; */
  float: center;
  /* margin-right: 10px; */
  margin-bottom: 25px;
  padding: 5px 20px;
  font-family: "Courier New", Courier, monospace;

  cursor: pointer;
}
/* .container { 
    height: 200px;
    position: relative;
    border: 3px solid green; 
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 37.5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  } */

.quizStats {
  /* height: 100%; */
  /* padding: 5px; */
  /* background-color: aqua; */
}
/* for some reasons class stats not going in classquizStats */
.stats {
  background-color: rgb(247, 247, 248);
  /* margin-right: 5px; */
  margin-top: 15px;
  /* margin-bottom: 25px; */
  /* margin-bottom: 50px; */

  /* margin-bottom: 300px; here */

  /* padding: 25px 25px 0px 25px; */
  padding: 15px;

  /* max-width: 1139px;
    min-width: 497.25px; */

  /* float: left; here */

  /* min-width: 590px; */

  /* width: 70%; here */

  /* width: 95%; */
}
