.Quizzes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
}

.Topics {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30%;
  width: 50%;
}

.Option {
  display: flex;
  flex-direction: column;
}
