.question-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.submit-button {
  background-color: aliceblue;
}

.results-page {
  display: flex;
  height: 75vh;
  align-items: center;
  justify-content: center;
}
